{% extends "base/base.html" %}

{% block title %}{{ object.name }} - Access Atlas{% endblock %}

{% block content %}
<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">{{ object.name }}</h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <a class="btn btn-outline-secondary" href="{% url 'access_record_geojson_download' object.pk %}">Download GeoJSON</a>
        <a class="btn btn-outline-secondary" href="{% url 'access_record_kml_download' object.pk %}">Download KML</a>
        <a class="btn btn-warning" href="{% url 'access_record_update' object.pk %}">Edit</a>
        <a class="btn btn-primary" href="{% url 'access_record_version_create' object.pk %}">Upload revision</a>
      </div>
    </div>
  </div>
</div>
{% include "includes/detail_section_nav.html" %}
{% include "includes/object_history_table.html" with history_records=history_records %}
{% endblock %}
