{% load history_extras %}

{% if object.history.all %}
<div class="card mt-3">
  <div class="card-header"><h3 class="card-title">History</h3></div>
  <div class="table-responsive">
    <table class="table table-vcenter">
      <thead>
        <tr>
          <th>When</th>
          <th>Type</th>
          <th>Reason</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        {% for record in object.history.all|slice:":10" %}
          <tr>
            <td>{{ record.history_date }}</td>
            <td>{{ record.get_history_type_display }}</td>
            <td>{{ record|change_reason }}</td>
            <td>{{ record.history_user|default:"System" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
