<nav class="view-toolbar" aria-label="Job views">
  <a class="view-toolbar-item{% if active_job_view == 'table' %} is-active{% endif %}" href="{% url 'job_list' %}{% if list_view_query_string %}?{{ list_view_query_string }}{% endif %}">
    <i class="ti ti-table" aria-hidden="true"></i>
    <span>Table</span>
  </a>
  <a class="view-toolbar-item{% if active_job_view == 'map' %} is-active{% endif %}" href="{% url 'job_map' %}{% if list_view_query_string %}?{{ list_view_query_string }}{% endif %}">
    <i class="ti ti-map" aria-hidden="true"></i>
    <span>Map</span>
  </a>
  <a class="view-toolbar-item{% if active_job_view == 'charts' %} is-active{% endif %}" href="{% url 'job_charts' %}{% if list_view_query_string %}?{{ list_view_query_string }}{% endif %}">
    <i class="ti ti-chart-donut" aria-hidden="true"></i>
    <span>Charts</span>
  </a>
</nav>
