{% extends "base/base.html" %}
{% load status_badges %}

{% block title %}{{ object.title }} - Access Atlas{% endblock %}

{% block content %}
<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">{{ object.title }}</h2>
    </div>
    <div class="col-auto ms-auto">
      <a class="btn btn-warning" href="{% url 'job_update' object.pk %}">
        <i class="ti ti-pencil" aria-hidden="true"></i>Edit
      </a>
    </div>
  </div>
</div>
{% include "includes/detail_section_nav.html" %}
<div class="card">
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Description</dt><dd class="col-sm-9">{{ object.description|linebreaksbr|default:"-" }}</dd>
      <dt class="col-sm-3">Site</dt><dd class="col-sm-9"><a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a></dd>
      <dt class="col-sm-3">Site Visit</dt>
      <dd class="col-sm-9">
        {% if object.site_visit_assignment %}
          <a href="{{ object.site_visit_assignment.site_visit.get_absolute_url }}">{{ object.site_visit_assignment.site_visit }}</a>
        {% else %}
          -
        {% endif %}
      </dd>
      <dt class="col-sm-3">Work Programme</dt>
      <dd class="col-sm-9">
        {% if object.work_programme %}
          <a href="{{ object.work_programme.get_absolute_url }}">{{ object.work_programme.name }}</a>
        {% else %}
          -
        {% endif %}
      </dd>
      <dt class="col-sm-3">Due Date</dt><dd class="col-sm-9">{{ object.due_date|date:"Y-m-d"|default:"-" }}</dd>
      <dt class="col-sm-3">Status</dt><dd class="col-sm-9"><span class="badge {{ object.status|status_badge_class }}">{{ object.get_status_display }}</span></dd>
      <dt class="col-sm-3">Priority</dt><dd class="col-sm-9">{{ object.get_priority_display }}</dd>
      <dt class="col-sm-3">Estimate</dt><dd class="col-sm-9">{{ object.estimated_duration_minutes|default:"-" }} min</dd>
      <dt class="col-sm-3">Template</dt><dd class="col-sm-9">{{ object.template|default:"-" }}</dd>
      {% if object.closeout_note %}
        <dt class="col-sm-3">Closeout Note</dt><dd class="col-sm-9">{{ object.closeout_note|linebreaksbr }}</dd>
      {% endif %}
    </dl>
  </div>
</div>
{% endblock %}
